# Python
# __pycache__/
*.py[cod]
*.egg-info/
*.egg

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Environments
env/
.venv/
*.env
*.envrc
.conda/
.rag_env/
.DS_Store

# VSCode
.vscode/

# Output
# static/outputs/
# static/uploads/

# System
Thumbs.db

# bakup files
**/*.bak
**/* copy.*